# steals from patrick kidger
mkdocs==1.3.0            
mkdocs-material==7.3.6   
pymdown-extensions==9.4  
mkdocstrings==0.17.0     
mknotebooks==0.7.1       
pytkdocs_tweaks==0.0.8  
mkdocs_include_exclude_files==0.0.1 
jinja2==3.0.3           
pygments==2.14.0
nbconvert==6.5.0         